@import "../sass/Parciales/reset" ;
@import "../sass/Parciales/body" ;
@import "../sass/Parciales/header";
@import "../sass/Parciales/footer";
@import "../sass/Parciales/banners";
@import "../sass/Parciales/carrousel";
@import "../sass/Parciales/form";
@import "../sass/Parciales/animaciones";
@import "././Parciales/fuentes";