* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(91, 78, 78, 0.121); }

/* Header */
.header {
  height: 250px;
  background-color: #A6A8AB;
  max-width: 100%;
  height: auto; }
  .header-anchor {
    font-size: 20px;
    font-weight: 600; }
  .header-logo {
    height: 92px;
    width: 239px; }

/* Footer */
.footer {
  height: 250px;
  background-color: #A6A8AB;
  max-width: 100%;
  height: auto; }
  .footer-logo {
    width: 92px;
    height: 92px; }

/*BANNERS*/
.banner1 {
  background-image: url(../../imagenes/banner1.png);
  background-size: cover;
  background-position: center center;
  height: 70vh; }

.banner2 {
  background-image: url(../../imagenes/banner2.png);
  background-size: cover;
  background-position: center center;
  height: 70vh; }

.banner3 {
  background-image: url(../../imagenes/banner3.png);
  background-size: cover;
  background-position: center center;
  height: 70vh; }

/*MODIFICACION CARROUSEL GALERIA*/
.carrousel {
  text-align: -webkit-center; }

/*BACKGROUND FORMULARIO*/
.form-img {
  background-image: url(../../imagenes/alarma.png);
  background-size: cover;
  background-position: center center;
  height: 100vh; }

/* ANIMACIONES(prueba)*/
.slide-in-left {
  -webkit-animation: slide-in-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

/*fuentes y colores*/
h1 {
  color: #000971;
  font-weight: 700; }

h2 {
  font-weight: 700;
  text-decoration: underline; }

p {
  color: black;
  font-size: 20px; }

h3 {
  font-size: 700; }

h4 {
  font-size: 25px;
  color: steelblue; }

h5 {
  font-size: 25px;
  color: coral;
  font-weight: bold; }

.p-galeria {
  color: salmon;
  font-weight: 600; }
