    /*BANNERS*/

    .banner1{
        background-image: url(../../imagenes/banner1.png);
        background-size: cover;
        background-position: center center;
        height:70vh;
    }
    .banner2{
        background-image: url(../../imagenes/banner2.png);
        background-size: cover;
        background-position: center center;
        height:70vh;
    }
    .banner3{
        background-image: url(../../imagenes/banner3.png);
        background-size: fixed;
        background-position: center center;
        height:70vh;
    }