    /*BACKGROUND FORMULARIO*/

    .form-img{
        background-image: url(../../imagenes/alarma.png);
        background-size: cover;
        background-position: center center;
        height:100vh;
    }