 /*fuentes y colores*/
 h1{
    color: #000971 ;
    font-weight: $ancho1;
  }
  h2{
  font-weight:$ancho1;
  text-decoration:underline
 }
  p{
    color: black;
    font-size: $fuente1;
  }
  h3{
    font-size: $ancho1;
  }
 h4{
    font-size: $fuente2;
    color:steelblue
 }
 h5{
    font-size:$fuente2;
    color:coral;
    font-weight:bold;
 }
 .p-galeria{
    color:salmon;
    font-weight: $ancho2;

 }